.authContainer {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.form-control {
  margin: 20px;
  background-color: #1b1b1b;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
}
.title {
  font-size: 28px;
  font-weight: 800;
}
.input-field {
  position: relative;
  width: 100%;
}

.input {
  color: var(--default-color);
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid var(--default-color);
  background: transparent;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #2d79f3;
}
.input-field .label {
  position: absolute;
  top: 30px;
  left: 15px;
  color: var(--default-color);
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-field .input:focus ~ .label,
.input-field .input[validate="true"] ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #2d79f3;
  background-color: #1b1b1b;
  padding-left: 5px;
  padding-right: 5px;
}

.orText {
  text-align: center;
}

.filePreview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filePreview label {
  cursor: pointer;
  color: var(--default-color);
  position: relative;
}

.carmeraOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.2);
}

.filePreview .avatarPreview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.filePreview input {
  visibility: hidden;
  position: absolute;
}

.errorMessage {
  color: rgb(252, 50, 0);
  background-color: rgb(49, 10, 0);
  padding: 5px 10px;
  border-radius: 10px;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: var(--default-color);
  border-radius: 11px;
  border: 0;
  outline: none;
  color: var(--default-color);
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px var(--default-color), 0px 0px 0px 0px #000000;
  transition: all 0.5s linear;
  cursor: pointer;
}

.submit-btn:hover {
  background: linear-gradient(360deg, #363636 0%, #1b1b1b 50%, #000000 100%);
}

.switchTypeBtn {
  text-align: right;
  color: #2d79f3;
}

.switchTypeBtn:hover {
  text-decoration: underline;
}
