.commentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.commentSort {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.commentSort .sort {
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.commentSort .sort span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.commentSort .sort .options {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #272727;
  border-radius: 12px;
  font-size: 17px;
}

.sort .options span {
  padding: 16px 20px;
  border-radius: 12px;
}

.sort .options span:hover {
  background-color: #353535;
}

.commentInputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.inputField {
  width: 100%;
}

.inputField input {
  outline: none;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1.8px solid #383833;
  font-size: 16px;
  padding: 5px 4px;
  color: var(--default-color);
}

.inputField input:focus {
  border-bottom: 1.8px solid var(--default-color);
}

.inputField .commentBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  gap: 16px;
}

.inputField .commentBtns button {
  padding: 10px 17px;
  font-size: 15px;
  border: none;
  font-weight: bold;
  border-radius: 19px;
  margin-top: 10px;
  cursor: pointer;
}

.commentBtns button:first-child {
  background: transparent;
  color: var(--default-color);
}

.commentBtns button:first-child:hover {
  background-color: #272727;
}

.commentBtns button:last-child {
  color: var(--default-color);
  background-color: var(--base-color);
}

.commentBtns button:last-child:hover {
  background-color: #0a5b8a;
  color: var(--default-color);
}

.commentBtns button:last-child:disabled,
.commentBtns button:last-child:disabled:hover {
  background-color: #272727;
  color: #464645;
  cursor: not-allowed;
}

.commentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.commentBox .comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.commentUploadDetails {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}

.commentUploadDetails .username {
  font-size: 16px;
}

.commentUploadDetails .uploadTime {
  font-size: 14px;
  color: #969696;
}

.comment .commentText {
  height: auto;
  margin-top: 5px;
}

.comment .commentText.hide {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment .readMoreBtn {
  cursor: pointer;
  color: #464645;
  line-height: 35px;
}

.comment .readMoreBtn:hover {
  text-decoration: underline;
}

.comment .commentLike {
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 4px;
  color: var(--default-color);
}

.comment .commentLike:hover {
  background-color: #464645;
  border-radius: 20px;
}

.comment .moreOptions {
  margin-left: auto;
  cursor: pointer;
}
